<h1>Seeder, our Data Centre</h1>
<div class="row">
  <div class="col-md-4">{{number-box title="Libraries" number=libraries.length}}</div>
  <div class="col-md-4">{{number-box title="Authors" number=author.length}}</div>
  <div class="col-md-4">{{number-box title="Books" number=books.length}}</div>
</div>

{{seeder-block
  sectionTitle='Libraries'
  counter=librariesCounter
  generateAction='generateAction'
  deleteAction='deleteLibraries'
  createReady=libdone
  deleteReady=libDelDone
}}

{{seeder-block
  sectionTitle='Authors with Books'
  counter=authorCounter
  generateAction='generateBooksAndAuthors'
  deleteAction='deleteBooksAndAuthors'
  createReady=authdone
  deleteReady=authDelDone
}}

